<ion-view view-title="Dashboard" hide-nav-bar="true" hide-tabs>
  <ion-content class="orange-bg">

    <div class="categories">
      <h2>Takip Et</h2>
      <h1>Sana Özel</h1>
      <ion-scroll scrollbar-x="false" zooming="false" direction="x" class="wide-as-needed">
        <ul class="categories-menu">
          <li>
            <div class="art"></div>
            <h3>Sanat</h3>
          </li>
          <li>
            <div class="mola"></div>
            <h3>Bi' Mola</h3>
          </li>
          <li>
            <div class="fun"></div>
            <h3>Eğlence</h3>
          </li>
          <li>
            <div class="conferance"></div>
            <h3>Konferans</h3>
          </li>
          <li>
            <div class="concert"></div>
            <h3>Konser</h3>
          </li>
          <li>
            <div class="meeting"></div>
            <h3>Toplantı</h3>
          </li>
          <li>
            <div class="travel"></div>
            <h3>Gezi</h3>
          </li>
          <li>
            <div class="nightclub"></div>
            <h3>Gece Hayatı</h3>
          </li>
          <li>
            <div class="sport"></div>
            <h3>Spor</h3>
          </li>
          <li>
            <div class="competition"></div>
            <h3>Yarışma</h3>
          </li>
          <li>
            <div class="cinema"></div>
            <h3>Sinema</h3>
          </li>
          <li>
            <div class="other"></div>
            <h3>Diğer</h3>
          </li>
        </ul>
      </ion-scroll>
    </div>

    <div class="popular-user">
      <h1>Çevrende Popüler</h1>
      <ul>
        <li class="popular-user-list" ng-controller="addFriendsCtrl">
          <style>
          .user-photo{background: url(img/demo/tumblr_o2uubmZFem1uov59ao1_1280.jpg)no-repeat center;background-size: cover;}
          </style>
          <div class="user-photo"></div>
          <h1>Name</h1>
          <p>86+ Etkinliğe Katıldı</p>
          <button ng-click="doVote()"><div ng-class="(addFriends.userVotes==1) ? 'add-friends-icon-on' : 'add-friends-icon'"></div></button>
        </li>
        <li class="popular-user-list" ng-controller="addFriendsCtrl">
          <style>
          .user-photo{background: url(img/demo/tumblr_o2uubmZFem1uov59ao1_1280.jpg)no-repeat center;background-size: cover;}
          </style>
          <div class="user-photo"></div>
          <h1>Name</h1>
          <p>86+ Etkinliğe Katıldı</p>
          <button ng-click="doVote()"><div ng-class="(addFriends.userVotes==1) ? 'add-friends-icon-on' : 'add-friends-icon'"></div></button>
        </li>
        <li class="popular-user-list" ng-controller="addFriendsCtrl">
          <style>
          .user-photo{background: url(img/demo/tumblr_o2uubmZFem1uov59ao1_1280.jpg)no-repeat center;background-size: cover;}
          </style>
          <div class="user-photo"></div>
          <h1>Name</h1>
          <p>86+ Etkinliğe Katıldı</p>
          <button ng-click="doVote()"><div ng-class="(addFriends.userVotes==1) ? 'add-friends-icon-on' : 'add-friends-icon'"></div></button>
        </li>
        <li class="popular-user-list" ng-controller="addFriendsCtrl">
          <style>
          .user-photo{background: url(img/demo/tumblr_o2uubmZFem1uov59ao1_1280.jpg)no-repeat center;background-size: cover;}
          </style>
          <div class="user-photo"></div>
          <h1>Name</h1>
          <p>86+ Etkinliğe Katıldı</p>
          <button ng-click="doVote()"><div ng-class="(addFriends.userVotes==1) ? 'add-friends-icon-on' : 'add-friends-icon'"></div></button>
        </li>
        <li class="popular-user-list" ng-controller="addFriendsCtrl">
          <style>
          .user-photo{background: url(img/demo/tumblr_o2uubmZFem1uov59ao1_1280.jpg)no-repeat center;background-size: cover;}
          </style>
          <div class="user-photo"></div>
          <h1>Name</h1>
          <p>86+ Etkinliğe Katıldı</p>
          <button ng-click="doVote()"><div ng-class="(addFriends.userVotes==1) ? 'add-friends-icon-on' : 'add-friends-icon'"></div></button>
        </li>
        <li class="popular-user-list" ng-controller="addFriendsCtrl">
          <style>
          .user-photo{background: url(img/demo/tumblr_o2uubmZFem1uov59ao1_1280.jpg)no-repeat center;background-size: cover;}
          </style>
          <div class="user-photo"></div>
          <h1>Name</h1>
          <p>86+ Etkinliğe Katıldı</p>
          <button ng-click="doVote()"><div ng-class="(addFriends.userVotes==1) ? 'add-friends-icon-on' : 'add-friends-icon'"></div></button>
        </li>
        <li class="popular-user-list" ng-controller="addFriendsCtrl">
          <style>
          .user-photo{background: url(img/demo/tumblr_o2uubmZFem1uov59ao1_1280.jpg)no-repeat center;background-size: cover;}
          </style>
          <div class="user-photo"></div>
          <h1>Name</h1>
          <p>86+ Etkinliğe Katıldı</p>
          <button ng-click="doVote()"><div ng-class="(addFriends.userVotes==1) ? 'add-friends-icon-on' : 'add-friends-icon'"></div></button>
        </li>
      </ul>
    </div>
  </ion-content>

  <ion-footer-bar>
    <button onclick="window.location.href='#/tab/home'" class="contiuned-button">Devam Et</button>
  </ion-footer-bar>
</ion-view>
