<ion-view view-title="Dashboard" hide-nav-bar="true">
  <!-- Header -->
  <ion-header-bar align-title="left" class="bar">
    <div class="buttons">
      <button class="header-button" ng-click="doSomething()">
        <img src="img/icon/calendar.svg" alt="">
      </button>
    </div>
    <h1 class="title">ETKİNLİK OLUŞTUR</h1>
    <div class="buttons">
      <button class="header-button" ng-click="doSomething()">
        <img src="img/icon/search.svg" alt="">
      </button>
    </div>
  </ion-header-bar>
  <!-- End Header -->

  <ion-content scrollbar-y="false" scroll="false"  >
    <div class="profile-img">
      <div class="profile-img-btn create-event-star">
        <img src="img/icon/create-event-star.svg" alt="">
      </div>
    </div>
    <form action="" ng-controller="loginCtrl">
      <div class="input-zone">
        <label>ETKİNLİK ADI</label>
        <input   placeholder="bkz: Bebek Sahilinde Yürüyüş" type="text">
      </div>
      <div class="input-zone">
        <label>TARİH</label>
        <input   id="date" type="date" placeholder="Etkinliğin Başlangıç Tarihi">
      </div>
      <div class="input-zone">
        <label>SAAT</label>
        <input   id="date" type="time" placeholder="Etkinliğin Başlangıç Saati">
      </div>
      <div class="input-zone" style="padding-bottom:10px;">
        <label>ŞEHİR</label>
        <select  >
          <optgroup label="Şehirler">
            <option selected="selected">İstanbul</option>
            <option>Ankara</option>
            <option>Antalya</option>
            <option>İzmir</option>
          </optgroup>
        </select>
      </div>
      <div class="input-zone">
        <label>AÇIKLAMA</label>
        <textarea   placeholder="UNUTMAYIN! Katılımcıların etkinlik yerini rahat bulabilmesi gerekiyor." name="" id="" cols="30" rows="8"></textarea>
      </div>
      <button class="submit-btn" onclick="window.location.href='#/tab/createevent2'" type="submit">Devam Et</button>
      <div class="step-load"></div>
    </form>
  </ion-content>
</ion-view>
