<ion-view hide-nav-bar="true">
  <!-- Header -->
  <ion-header-bar align-title="left" class="bar">
    <div class="buttons">
      <button class="header-button" ng-click="doSomething()">
        <img src="img/icon/calendar.svg" alt="">
      </button>
    </div>
    <h1 class="title">AKIŞ</h1>
    <div class="buttons">
      <button class="header-button" ng-click="doSomething()">
        <img src="img/icon/add.svg" alt="">
      </button>
    </div>
  </ion-header-bar>
  <!-- End Header -->

  <ion-content ng-controller="ScrollCtrl" class="has-header" delegate-handle="mainScroll" scrollbar-y="false">
      <!-- Follow -->
      <div class="follow">
        <h1>TAKİP ETTİKLERİN</h1>
        <a href="#" class="next-btn"><img src="img/icon/next-gray.svg" alt=""></a>

        <div class="clearfix"></div><br>

        <ul class="follow-img">
          <ion-scroll scrollbar-x="false" zooming="false" direction="x" delegate-handle="horizontal5" horizontal-scroll-fix="mainScroll" class="wide-as-needed follow-user">
              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

          </ion-scroll>
        </ul>
      </div>

      <!-- Post -->
      <div class="post">
        <a href="#">
          <div class="post-user-img" style="background-image: url('img/demo/tumblr_o4ab76oDOr1uov59ao1_1280.jpg');background-size: cover;"></div>
          <h1>Sinem Sezer</h1>
        </a>
        <a class="post-location" href="#">Küçük Çiftlik Park’ta After Party</a>
        <div class="clearfix"></div>
        <img src="img/demo/tumblr_o65malbMr71uov59ao1_1280.jpg" alt="">
        <p>Su, doğa, SURF! Geçirdiğim en harika günlerden birisi.</p>
        <div class="clearfix"></div>

        <div ng-controller="likeCtrl" class="post-button">
          <a class="like" ng-click="doVote()">
            <div class="like-btn" ng-class="(like.userVotes==1) ? 'like-heart' : 'like-heart-on'"></div>
            <span ng-model="like.votes">{{like.votes}}</span>
          </a>

          <span class="clearfix"></span>
          <a class="comment">
            <div class="comment-btn"><span>26</span></div>
          </a>
        </div>
      </div>

      <!-- Post -->
      <div class="post">
        <a href="#">
          <div class="post-user-img" style="background-image: url('img/demo/tumblr_o4ab76oDOr1uov59ao1_1280.jpg');background-size: cover;"></div>
          <h1>Sinem Sezer</h1>
        </a>
        <a class="post-location" href="#">Küçük Çiftlik Park’ta After Party</a>
        <div class="clearfix"></div>
        <p>Su, doğa, SURF! Geçirdiğim en harika günlerden birisi.</p>
        <div class="clearfix"></div>

        <div ng-controller="likeCtrl" class="post-button">
          <a class="like" ng-click="doVote()">
            <div class="like-btn" ng-class="(like.userVotes==1) ? 'like-heart' : 'like-heart-on'"></div>
            <span ng-model="like.votes">{{like.votes}}</span>
          </a>

          <span class="clearfix"></span>
          <a class="comment">
            <div class="comment-btn"><span>26</span></div>
          </a>
        </div>
      </div>

      <!-- Post -->
      <div class="post">
        <a href="#">
          <div class="post-user-img" style="background-image: url('img/demo/tumblr_o4ab76oDOr1uov59ao1_1280.jpg');background-size: cover;"></div>
          <h1>Sinem Sezer</h1>
        </a>
        <a class="post-location" href="#">Küçük Çiftlik Park’ta After Party</a>
        <div class="clearfix"></div><br>

        <div ng-controller="likeCtrl" class="post-button">
          <a class="like" ng-click="doVote()">
            <div class="like-btn" ng-class="(like.userVotes==1) ? 'like-heart' : 'like-heart-on'"></div>
            <span ng-model="like.votes">{{like.votes}}</span>
          </a>

          <span class="clearfix"></span>
          <a class="comment">
            <div class="comment-btn"><span>26</span></div>
          </a>
        </div>
      </div>

      <div class="no-post"><p>Ops! Gösterilecek başka bir şey yok :(</p></div>

  </ion-content>
</ion-view>
