<ion-view hide-nav-bar="true">


  <!-- Header -->
  <ion-header-bar align-title="left" class="bar">
    <div class="buttons">
      <button class="header-button" ng-click="doSomething()">
        <img src="img/icon/calendar.svg" alt="">
      </button>
    </div>
    <h1 class="title">ETKİNLİKLER</h1>
    <div class="buttons">
      <button class="header-button" ng-click="doSomething()">
        <img src="img/icon/search.svg" alt="">
      </button>
    </div>
  </ion-header-bar>
  <!-- End Header -->

  <ion-content ng-controller="ScrollCtrl" class="has-header" delegate-handle="mainScroll" scrollbar-y="false">

    <div class="home">
      <h1>YAKININDA NELER OLUYOR?</h1>
      <ion-scroll scrollbar-x="false" zooming="false" direction="x" delegate-handle="horizontal" horizontal-scroll-fix="mainScroll" class="wide-as-needed">
        <ul class="event-view">
          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>
        </ul>
      </ion-scroll>
    </div>

    <div class="home">
      <h1>İLGİNİ ÇEKEBİLİR</h1>
      <ion-scroll scrollbar-x="false" zooming="false" direction="x" delegate-handle="horizontal2" horizontal-scroll-fix="mainScroll" class="wide-as-needed">
        <ul class="event-view">
          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>
        </ul>
      </ion-scroll>
    </div>

    <div class="home">
      <h1>ETKİNLİK DUVARI</h1>
      <ion-scroll scrollbar-x="false" zooming="false" direction="x" delegate-handle="horizontal3" horizontal-scroll-fix="mainScroll" class="wide-as-needed">
        <ul class="event-view">
          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>

          <li>
            <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
            <h3>İstanbul’da Yaza Merhaba Partisi</h3>
            <p><b>YARIN,</b> 10:00</p>
          </li>
        </ul>
      </ion-scroll>
    </div>

    <div class="categories-home">
      <h1>KATEGORİLER</h1>
      <ion-scroll  scrollbar-x="false" zooming="false" direction="x" delegate-handle="horizontal4" horizontal-scroll-fix="mainScroll" class="wide-as-needed">
        <ul class="categories-view">
          <li>
            <div class="art"></div>
            <h3>Sanat</h3>
          </li>
          <li>
            <div class="mola"></div>
            <h3>Bi' Mola</h3>
          </li>
          <li>
            <div class="fun"></div>
            <h3>Eğlence</h3>
          </li>
          <li>
            <div class="conferance"></div>
            <h3>Konferans</h3>
          </li>
          <li>
            <div class="concert"></div>
            <h3>Konser</h3>
          </li>
          <li>
            <div class="meeting"></div>
            <h3>Toplantı</h3>
          </li>
          <li>
            <div class="travel"></div>
            <h3>Gezi</h3>
          </li>
          <li>
            <div class="nightclub"></div>
            <h3>Gece Hayatı</h3>
          </li>
          <li>
            <div class="sport"></div>
            <h3>Spor</h3>
          </li>
          <li>
            <div class="competition"></div>
            <h3>Yarışma</h3>
          </li>
          <li>
            <div class="cinema"></div>
            <h3>Sinema</h3>
          </li>
          <li>
            <div class="other"></div>
            <h3>Diğer</h3>
          </li>
        </ul>
      </ion-scroll>
    </div>

    <div class="blog" >
      <h1>SENİN İÇİN YAZDIK</h1>
      <ul class="blog-post">
        <li >
          <div style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;" class="blog-photo">
            <h1>İstanbul’da Öğrenciler İçin Uygun Fiyatlı 5 Mekan #1</h1>
          </div>
          <div ng-controller="likeCtrl" class="blog-button">
            <a class="like" ng-click="doVote()">
              <div class="like-btn" ng-class="(like.userVotes==1) ? 'like-heart' : 'like-heart-on'"></div>
              <span ng-model="like.votes">{{like.votes}}</span>
            </a>

            <span class="clearfix"></span>
            <a class="comment">
              <div class="comment-btn"><span>26</span></div>
            </a>

            <div class="clearfix"></div>
            <a>
              <span class="share-btn"></span>
            </a>
          </div>
        </li>
        <li>
          <div style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;" class="blog-photo">
            <h1>İstanbul’da Öğrenciler İçin Uygun Fiyatlı 5 Mekan #1</h1>
          </div>
          <div ng-controller="likeCtrl" class="blog-button">
            <a class="like" ng-click="doVote()">
              <div class="like-btn" ng-class="(like.userVotes==1) ? 'like-heart' : 'like-heart-on'"></div>
              <span ng-model="like.votes">{{like.votes}}</span>
            </a>

            <span class="clearfix"></span>
            <a class="comment">
              <div class="comment-btn"><span>26</span></div>
            </a>

            <div class="clearfix"></div>
            <a>
              <span class="share-btn"></span>
            </a>
          </div>
        </li>
        <li>
          <div style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;" class="blog-photo">
            <h1>İstanbul’da Öğrenciler İçin Uygun Fiyatlı 5 Mekan #1</h1>
          </div>
          <div ng-controller="likeCtrl" class="blog-button">
            <a class="like" ng-click="doVote()">
              <div class="like-btn" ng-class="(like.userVotes==1) ? 'like-heart' : 'like-heart-on'"></div>
              <span ng-model="like.votes">{{like.votes}}</span>
            </a>

            <span class="clearfix"></span>
            <a class="comment">
              <div class="comment-btn"><span>26</span></div>
            </a>

            <div class="clearfix"></div>
            <a>
              <span class="share-btn"></span>
            </a>
          </div>
        </li>
      </ul>
    </div>

  </ion-content>
</ion-view>
