<ion-view hide-nav-bar="true" hide-tabs>
  <ion-content ng-controller="loginCtrl" class="padding">
    <!-- Logo -->
    <img class="logo" src="img/logo.svg" alt="">
    <!-- END Logo -->

    <!-- Facebook Login -->
    <button class="loginFacebook">
      <img src="img/icon/facebook.svg" alt="">
      <p><b>Facebook</b> ile Giriş</p>
    </button>
    <!-- END Facebook Login -->

    <div class="and">veya</div>

    <!-- Input Username -->
    <div class="inputText">
      <label for="">Kullanıcı Adı</label>
      <input placeholder="örn: SertanHelvaci" type="text" ng-model="login.email">
    </div>
    <!-- END Input Username -->

    <!-- Input Password -->
    <div class="inputText">
      <label for="">Şifre</label>
      <input placeholder="**********" type="password"  ng-model="login.password">
    </div>
    <!-- END Input Password -->

    <!-- Login Button -->
    <button class="login" ng-click="doLogin()">Giriş Yap</button>
    <!-- END Login Button -->

    <!-- Forgat a Password -->
    <button ng-click="password.show()" class="passwordButton modalButton">Şifremi Unuttum</button>
    <!-- END Forgat a Password -->

    <!-- New Account -->
    <button onclick="window.location.href='#/tab/signup'" class="newAccount">
      Hesabın yok mu? <span>Üye Ol</span>
    </button>
    <!-- END New Account -->
  </ion-content>

  <!-- Forgat a Password Modal -->
  <style>.modal-open .modal-backdrop {height: 100%;}.modal-backdrop {height: 100%;}</style>
  <script id="password.html" type="text/ng-template">
    <ion-modal-view class="password-modal">
       <ion-content>
          <h2>HESAP DOĞRULAMA</h2>
          <p>E-posta adresine hesap doğrulama linki
          göndereceğiz. Lütfen E-posta adresini gir.</p>
          <h3>E-POSTA ADRESİ</h3>
          <input placeholder="Örn: example@mail.com" type="text">
          <button>Onayla</button>
      </ion-content>
    </ion-modal-view>
  </script>
  <!-- END Forgat a Password Modal -->
</ion-view>
