<ion-view view-title="Dashboard" hide-nav-bar="true">
  <!-- Header -->
  <ion-header-bar align-title="left" class="bar">
    <div class="buttons">
      <button class="header-button" ng-click="doSomething()">
        <img src="img/icon/calendar.svg" alt="">
      </button>
    </div>
    <h1 class="title">PROFİL</h1>
    <div class="buttons">
      <button class="header-button icon-other" ng-click="myprofileSettings()">
        <img src="img/icon/other.svg" alt="">
      </button>
    </div>
  </ion-header-bar>
  <!-- End Header -->

  <ion-content ng-controller="ScrollCtrl" class="has-header" delegate-handle="mainScroll" scrollbar-y="false">
      <!-- Profile Detail -->
      <div class="profile" ng-controller="addUserCtrl">
        <div style="background: url(img/demo/tumblr_o4zeis0tNJ1uov59ao1_1280.jpg)center;background-size:125%;" class="profile-photo"></div>
        <button class="add-friend" ng-click="doVote()">
          <div class="add-user" ng-class="'my-profile-edit'"></div>
        </button>
        <h1>MERVE TOPRAK</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
        elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna teliar aliqua.</p>
        <div class="profile-social">
          <ul class="social-media">
            <li><img src="img/icon/facebook-mini.svg" alt=""></li>
            <li><img src="img/icon/instagram-mini.svg" alt=""></li>
            <li><img src="img/icon/twitter-mini.svg" alt=""></li>
            <li><img src="img/icon/linkedin-mini.svg" alt=""></li>
            <li><img src="img/icon/snapchat-mini.svg" alt=""></li>
          </ul>

          <h3>12 Etkinliğe Katıldı</h3>
        </div>
      </div>

      <!-- Follow -->
      <div class="follow">
        <h1 class="follower">2.426 TAKİPÇİ</h1>
        <a href="#" class="next-btn"><img src="img/icon/next-gray.svg" alt=""></a>

        <div class="clearfix"></div><br>

        <ul class="follow-img">
          <ion-scroll scrollbar-x="false" zooming="false" direction="x" delegate-handle="horizontal5" horizontal-scroll-fix="mainScroll" class="wide-as-needed follow-user">
              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="follow-user-img" style="background:url(img/demo/tumblr_o3jq46uczK1uov59ao1_500.jpg); background-size: cover;"></div>
                  <span>Melissa Türker</span>
                </a>
              </li>

          </ion-scroll>
        </ul>
      </div>

      <!-- Slide Event -->
      <div class="home">
        <h1>KATILDIĞI ETKİNLİKLER</h1>
        <ion-scroll scrollbar-x="false" zooming="false" direction="x" delegate-handle="horizontal" horizontal-scroll-fix="mainScroll" class="wide-as-needed">
          <ul class="event-view">
            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>

            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>

            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>

            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>

            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>

            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>

            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>

            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>

            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>

            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>

            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>

            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>

            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>
          </ul>
        </ion-scroll>
      </div>

      <!-- Slide Event -->
      <div class="home">
        <h1>OLUŞTURDUĞU ETKİNLİKLER</h1>
        <ion-scroll scrollbar-x="false" zooming="false" direction="x" delegate-handle="horizontal2" horizontal-scroll-fix="mainScroll" class="wide-as-needed">
          <ul class="event-view">
            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>

            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>

            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>

            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>

            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>

            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>

            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>

            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>

            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>

            <li>
              <div class="event-photo" style="background: url(img/demo/tumblr_ntgkq3Pd8M1uov59ao1_1280.jpg); background-size:cover;"></div>
              <h3>İstanbul’da Yaza Merhaba Partisi</h3>
              <p><b>YARIN,</b> 10:00</p>
            </li>
          </ul>
        </ion-scroll>
      </div>

      <!-- Post -->
      <div class="post post-line">
        <a href="#">
          <div class="post-user-img" style="background-image: url('img/demo/tumblr_o4ab76oDOr1uov59ao1_1280.jpg');background-size: cover;"></div>
          <h1>Sinem Sezer</h1>
        </a>
        <a class="post-location" href="#">Küçük Çiftlik Park’ta After Party</a>
        <div class="clearfix"></div>
        <img src="img/demo/tumblr_o65malbMr71uov59ao1_1280.jpg" alt="">
        <p>Su, doğa, SURF! Geçirdiğim en harika günlerden birisi.</p>
        <div class="clearfix"></div>

        <div ng-controller="likeCtrl" class="post-button">
          <a class="like" ng-click="doVote()">
            <div class="like-btn" ng-class="(like.userVotes==1) ? 'like-heart' : 'like-heart-on'"></div>
            <span ng-model="like.votes">{{like.votes}}</span>
          </a>

          <span class="clearfix"></span>
          <a class="comment">
            <div class="comment-btn"><span>26</span></div>
          </a>
        </div>
      </div>

      <!-- Post -->
      <div class="post">
        <a href="#">
          <div class="post-user-img" style="background-image: url('img/demo/tumblr_o4ab76oDOr1uov59ao1_1280.jpg');background-size: cover;"></div>
          <h1>Sinem Sezer</h1>
        </a>
        <a class="post-location" href="#">Küçük Çiftlik Park’ta After Party</a>
        <div class="clearfix"></div>
        <p>Su, doğa, SURF! Geçirdiğim en harika günlerden birisi.</p>
        <div class="clearfix"></div>

        <div ng-controller="likeCtrl" class="post-button">
          <a class="like" ng-click="doVote()">
            <div class="like-btn" ng-class="(like.userVotes==1) ? 'like-heart' : 'like-heart-on'"></div>
            <span ng-model="like.votes">{{like.votes}}</span>
          </a>

          <span class="clearfix"></span>
          <a class="comment">
            <div class="comment-btn"><span>26</span></div>
          </a>
        </div>
      </div>



  </ion-content>
</ion-view>
