<ion-view view-title="Dashboard" hide-nav-bar="true">
  <!-- Header -->
  <ion-header-bar align-title="left" class="bar">
    <div class="buttons">
      <button class="header-button" ng-click="doSomething()">
        <img src="img/icon/calendar.svg" alt="">
      </button>
    </div>
    <h1 class="title">BİLDİRİMLER</h1>
    <div class="buttons">
      <button class="header-button icon-other" ng-click="doSomething()">
        <img src="img/icon/other.svg" alt="">
      </button>
    </div>
  </ion-header-bar>
  <!-- End Header -->

  <ion-content>
    <ul>
      <li class="post notification-list">
        <a href="#">
          <div class="post-user-img" style="background-image: url('img/demo/tumblr_o4ab76oDOr1uov59ao1_1280.jpg');background-size: cover;"></div>
          <h1>Sinem Sezer</h1>
        </a>
        <a class="post-location" href="#">Paylaştığın gönderiyi beğendi</a>
        <span>10dk</span>
      </li>
      <li class="post notification-list">
        <a href="#">
          <div class="post-user-img" style="background-image: url('img/demo/tumblr_o4ab76oDOr1uov59ao1_1280.jpg');background-size: cover;"></div>
          <h1>Sinem Sezer</h1>
        </a>
        <a class="post-location noti-star" href="#">ile Eşleştin. Artık Arkadaşsınız!</a>
        <span>10dk</span>
      </li>
      <li class="post notification-list">
        <a href="#">
          <div class="post-user-img" style="background-image: url('img/demo/tumblr_o4ab76oDOr1uov59ao1_1280.jpg');background-size: cover;"></div>
          <h1>Sinem Sezer</h1>
        </a>
        <a class="post-location" href="#">Paylaştığın gönderiye yorum yaptı</a>
        <span>10dk</span>
      </li>
      <li class="post notification-list">
        <a href="#">
          <div class="post-user-img" style="background-image: url('img/icon/eventshere.svg');background-size: cover;"></div>
          <h1>Bir Etkinliğin Yaklaştı!</h1>
        </a>
        <a class="post-location" href="#">Yarın 22:00’da “Duman Konseri”</a>
        <span>10dk</span>
      </li>
    </ul>
  </ion-content>
</ion-view>
