<ion-view view-title="Dashboard" hide-nav-bar="true">
  <!-- Header -->
  <ion-header-bar align-title="left" class="bar">
    <div class="buttons">
      <button class="header-button" ng-click="doSomething()">
        <img src="img/icon/calendar.svg" alt="">
      </button>
    </div>
    <h1 class="title">PROFİL</h1>
    <div class="buttons">
      <button class="header-button icon-other" ng-click="profileSettings()">
        <img src="img/icon/other.svg" alt="">
      </button>
    </div>
  </ion-header-bar>
  <!-- End Header -->

  <ion-content ng-controller="ScrollCtrl" class="has-header" delegate-handle="mainScroll" scrollbar-y="false">
      <!-- Profile Detail -->
      <div class="profile" ng-controller="addUserCtrl">
        <div style="border-radius: 100%; overflow: hidden" class="profile-photo">
          <img ng-src="{{user_pic}}" width="150%" />
        </div>
        <button class="add-friend" ng-click="doVote()">
          <div class="add-user" ng-class="(addUser.userVotes==1) ? 'add-user-icon-on' : 'add-user-icon'"></div>
        </button>
        <h1 ng-bind="name_surname"></h1>
        <p ng-bind="bio"></p>
        <div class="profile-social">
          <ul class="social-media">
            <li ng-if="facebook"><a ng-href="{{facebook}}"><img src="img/icon/facebook-mini.svg" alt=""></a></li>
            <li ng-if="instagram"><a ng-href="{{instagram}}"><img src="img/icon/instagram-mini.svg" alt=""></a></li>
            <li ng-if="twitter"><a ng-href="{{twitter}}"><img src="img/icon/twitter-mini.svg" alt=""></a></li>
            <li ng-if="linkedin"><a ng-href="{{linkedin}}"><img src="img/icon/linkedin-mini.svg" alt=""></a></li>
            <li ng-if="snapchat"><a ng-href="{{snapchat}}"><img src="img/icon/snapchat-mini.svg" alt=""></a></li>
          </ul>

          <h3 ng-bind="joined_events_count"></h3>
        </div>
      </div>

      <!-- Follow -->
      <div class="follow">
        <h1 class="follower">{{followers.length}} TAKİPÇİ</h1>
        <a href="#" class="next-btn"><img src="img/icon/next-gray.svg" alt=""></a>

        <div class="clearfix"></div><br>

        <ul class="follow-img">
          <ion-scroll scrollbar-x="false" zooming="false" direction="x" delegate-handle="horizontal5" horizontal-scroll-fix="mainScroll" class="wide-as-needed follow-user">
              <li ng-repeat="follower in followers">
                <a href="#">
                  <div class="follow-user-img" style="border-radius: 100%; overflow: hidden">
                      <img ng-src="{{follower.pic}}" width="150%" />
                  </div>
                  <span>{{follower.name_surname}}</span>
                </a>
              </li>
          </ion-scroll>
        </ul>
      </div>

      <!-- Slide Event -->
      <div class="home">
        <h1>KATILDIĞI ETKİNLİKLER</h1>
        <ion-scroll scrollbar-x="false" zooming="false" direction="x" delegate-handle="horizontal" horizontal-scroll-fix="mainScroll" class="wide-as-needed">
          <ul class="event-view">
            <li ng-repeat="event in joined_events">

              <div class="event-photo" style="">
                <img ng-src="{{event.pic}}" width="100%" />
              </div>
              <h3>{{event.title  | limitTo : 55 }}</h3>
              <p><b>{{convertToDate(event.date) | date:'shortDate'}},</b> {{event.time | date:'h:mm'}}</p>
            </li>

          </ul>
        </ion-scroll>
      </div>

      <!-- Slide Event -->
      <div class="home">
        <h1>OLUŞTURDUĞU ETKİNLİKLER</h1>
        <ion-scroll scrollbar-x="false" zooming="false" direction="x" delegate-handle="horizontal2" horizontal-scroll-fix="mainScroll" class="wide-as-needed">
          <ul class="event-view">
            <li ng-repeat="event in created_events">

              <div class="event-photo" style="">
                <img ng-src="{{event.pic}}" width="100%" />
              </div>
              <h3>{{event.title  | limitTo : 55 }}</h3>
              <p><b>{{convertToDate(event.date) | date:'shortDate'}},</b> {{event.time | date:'h:mm'}}</p>
            </li>

          </ul>
        </ion-scroll>
      </div>

      <!-- Post -->
      <div class="post post-line">
        <a href="#">
          <div class="post-user-img" style="background-image: url('img/demo/tumblr_o4ab76oDOr1uov59ao1_1280.jpg');background-size: cover;"></div>
          <h1>Sinem Sezer</h1>
        </a>
        <a class="post-location" href="#">Küçük Çiftlik Park’ta After Party</a>
        <div class="clearfix"></div>
        <img src="img/demo/tumblr_o65malbMr71uov59ao1_1280.jpg" alt="">
        <p>Su, doğa, SURF! Geçirdiğim en harika günlerden birisi.</p>
        <div class="clearfix"></div>

        <div ng-controller="likeCtrl" class="post-button">
          <a class="like" ng-click="doVote()">
            <div class="like-btn" ng-class="(like.userVotes==1) ? 'like-heart' : 'like-heart-on'"></div>
            <span ng-model="like.votes">{{like.votes}}</span>
          </a>

          <span class="clearfix"></span>
          <a class="comment">
            <div class="comment-btn"><span>26</span></div>
          </a>
        </div>
      </div>

      <!-- Post -->
      <div class="post">
        <a href="#">
          <div class="post-user-img" style="background-image: url('img/demo/tumblr_o4ab76oDOr1uov59ao1_1280.jpg');background-size: cover;"></div>
          <h1>Sinem Sezer</h1>
        </a>
        <a class="post-location" href="#">Küçük Çiftlik Park’ta After Party</a>
        <div class="clearfix"></div>
        <p>Su, doğa, SURF! Geçirdiğim en harika günlerden birisi.</p>
        <div class="clearfix"></div>

        <div ng-controller="likeCtrl" class="post-button">
          <a class="like" ng-click="doVote()">
            <div class="like-btn" ng-class="(like.userVotes==1) ? 'like-heart' : 'like-heart-on'"></div>
            <span ng-model="like.votes">{{like.votes}}</span>
          </a>

          <span class="clearfix"></span>
          <a class="comment">
            <div class="comment-btn"><span>26</span></div>
          </a>
        </div>
      </div>



  </ion-content>
</ion-view>
