<ion-view hide-nav-bar="true" hide-tabs>
  <ion-content class="padding">
    <!-- Logo -->
    <img class="logo" src="img/logo.svg" alt="">
    <!-- END Logo -->

    <!-- Facebook Login -->
    <button class="loginFacebook">
      <img src="img/icon/facebook.svg" alt="">
      <p><b>Facebook</b> ile Giriş</p>
    </button>
    <!-- END Facebook Login -->

    <div class="and">veya</div>

    <!-- Input Username -->
    <div class="inputText">
      <label for="">E-posta</label>
      <input placeholder="örn: SertanHelvaci" type="text">
    </div>
    <!-- END Input Username -->

    <!-- Input Password -->
    <div class="inputText">
      <label for="">Şifre</label>
      <input placeholder="**********" type="password">
    </div>
    <!-- END Input Password -->

    <!-- Input REPassword -->
    <div class="inputText">
      <label for="">Tekrar Şifre</label>
      <input placeholder="**********" type="password">
    </div>
    <!-- END Input REPassword -->

    <!-- Login Button -->
    <button onclick="window.location.href='#/tab/signup2'" class="login">Üye Ol</button>
    <!-- END Login Button -->

    <!-- New Account -->
    <button onclick="window.location.href='#/tab/login'" class="backLogin">
      Hesabın var mı? <span>Giriş Yap</span>
    </button>

    <p class="accountRead">Eventshere <a href="#">üyelik sözleşesini</a> okudum ve kabul ediyorum.</p>
    <!-- END New Account -->
  </ion-content>

  <!-- Forgat a Password Modal -->
  <script id="my-modal.html" type="text/ng-template">
    <ion-modal-view class="password-modal">
      <ion-content>
        <h2>HESAP DOĞRULAMA</h2>
        <p>E-posta adresine hesap doğrulama linki
        göndereceğiz. Lütfen E-posta adresini gir.</p>
        <h3>E-POSTA ADRESİ</h3>
        <input placeholder="Örn: example@mail.com" type="text">
        <button>Onayla</button>
      </ion-content>
    </ion-modal-view>
  </script>
  <!-- END Forgat a Password Modal -->
</ion-view>
