<ion-view  hide-tabs>
  <ion-nav-title class="nav-title-h1">
    TAMAMLA
  </ion-nav-title>
  <ion-content>
        <div class="profile-img">
          <div class="profile-img-btn profile-img-camera">
            <img src="img/icon/camera.svg" alt="">
          </div>
        </div>
        <div class="input-zone">
          <label>AD SOYAD</label>
          <input placeholder="bkz: Merve Toprak" type="text">
        </div>
        <div class="input-zone">
          <label>KULLANICI ADI</label>
          <input placeholder="bkz: merve.toprak" type="text">
        </div>
        <div class="input-zone">
          <label>DOĞUM TARİHİ</label>
          <input placeholder="01 OCAK 1998" type="text">
        </div>
        <div class="input-zone">
          <label>CİNSİYET</label>
          <input placeholder="KADIN" type="text">
        </div>
        <p class="signup-content">
          Profilinde sağ üstte yer alan seçenekler kısmından profilini
          ve iletişim bilgilerini daha fazla detaylandırabilir ve diğer
          sosyal medya adreslerini paylaşabilirsin.
        </p>
  </ion-content>

  <ion-footer-bar>
    <button onclick="window.location.href='#/tab/categories'" class="contiuned-button">Devam Et</button>
  </ion-footer-bar>
</ion-view>
