<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': hideTabs}" >

  <!-- Home -->
  <ion-tab icon-off="home-outline" icon-on="home" href="#/tab/home">
    <ion-nav-view name="home"></ion-nav-view>
  </ion-tab>

  <!-- Feed -->
  <ion-tab icon-off="feed-outline" icon-on="feed" href="#/tab/feed">
    <ion-nav-view name="feed"></ion-nav-view>
  </ion-tab>

  <!-- Create -->
  <ion-tab ng-click="plus.show()" icon-off="create-outline" icon-on="create">
    <ion-nav-view name="create"></ion-nav-view>
  </ion-tab>

  <!-- Notification -->
  <ion-tab icon-off="notification-outline" icon-on="notification" href="#/tab/notification">
    <ion-nav-view name="notification"></ion-nav-view>
  </ion-tab>

  <!-- Profile -->
  <ion-tab icon-off="profile-outline" icon-on="profile" href="#/tab/profile">
    <ion-nav-view name="profile"></ion-nav-view>
  </ion-tab>


  <!-- *********************************** -->
  <!-- *********** Hidden Tabs *********** -->
  <!-- *********************************** -->

  <!-- Login -->
  <ion-tab class="hidden" title="Login" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/login">
    <ion-nav-view name="login"></ion-nav-view>
  </ion-tab>

  <!-- Signup -->
  <ion-tab class="hidden" title="Signup" href="#/tab/signup">
    <ion-nav-view name="signup"></ion-nav-view>
  </ion-tab>

  <!-- Signup 2 -->
  <ion-tab class="hidden" title="Signup2" href="#/tab/signup2">
    <ion-nav-view name="signup2"></ion-nav-view>
  </ion-tab>

  <!-- Categories -->
  <ion-tab class="hidden" title="Categories" href="#/tab/categories">
    <ion-nav-view name="categories"></ion-nav-view>
  </ion-tab>

  <!-- My Profile -->
  <ion-tab class="hidden" title="MyProfile" href="#/tab/myprofile">
    <ion-nav-view name="myprofile"></ion-nav-view>
  </ion-tab>

  <!-- Create Event 1 -->
  <ion-tab class="hidden" title="CreateEvent" href="#/tab/createevent">
    <ion-nav-view name="createevent"></ion-nav-view>
  </ion-tab>

  <!-- Create Event 2 -->
  <ion-tab class="hidden" title="CreateEvent2" href="#/tab/createevent2">
    <ion-nav-view name="createevent2"></ion-nav-view>
  </ion-tab>

  <!-- User Match -->
  <ion-tab class="hidden" title="UserMatch" href="#/tab/usermatch">
    <ion-nav-view name="usermatch"></ion-nav-view>
  </ion-tab>

</ion-tabs>
