<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%2C900&subset=latin-ext%2Clatin" rel="stylesheet">
    <link rel="manifest" href="manifest.json">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="lib/bluebird.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic.cloud.min.js"></script>
    <script src="lib/ngstorage/ngStorage.min.js"></script>
    <script src="cordova.js"></script>
    <script src="js/SHA.js"></script>
    <script src="js/app.js"></script>
    <script src="js/api.js"></script>
    <script src="js/controllers.js"></script>


    <script src="js/services.js"></script>
  </head>
  <body ng-app="starter" ng-controller="plusCtrl">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view></ion-nav-view>

    <!-- Plus modal -->
    <script id="plus.html" type="text/ng-template">
      <ion-modal-view class="plus-modal">
        <ion-content scrollbar-y="false" scroll="false"  ng-controller="postCtrl">
           <ul class="create-modal" ng-controller="locationCtrl" >
             <a class="list-padding" href="#/tab/createevent"><li ng-click="plus.hide()"><img src="img/icon/create-event.svg" alt=""> <span>Etkinlik Oluştur</span></li></a>
             <a class="list-padding" href="#/tab/usermatch"><li ng-click="plus.hide()"><img src="img/icon/match-user.svg" alt=""> <span>Birlikte Katıl</span></li></a>
             <li ng-click="plus.hide()"><div class="list-padding" ng-click="postshare.show()"><img src="img/icon/post-share.svg" alt=""> <span>Paylaşım Yap</span></div></li>
             <li ng-click="plus.hide()"><div class="list-padding" ng-click="locationshare.show()"><img src="img/icon/check-event.svg" alt=""> <span>Etkinlikte Olduğunu Bildir</span></div></li>
           </ul>
        </ion-content>
      </ion-modal-view>
    </script>
    <!-- END Plus modal -->

    <!-- Post Share modal -->
    <script id="post-share.html" type="text/ng-template">
      <ion-modal-view class="post-modal">
        <ion-content scrollbar-y="false" scroll="false">
          <div class="post notification-list">
            <a>
              <div class="post-user-img" style="background-image: url('img/demo/tumblr_o4ab76oDOr1uov59ao1_1280.jpg');background-size: cover;"></div>
              <h1>ETKİNLİK</h1>
            </a>
            <a class="post-select-location">
              <div class="list">
                <label class="item item-input item-select">
                  <select>
                    <option selected>Katıldığı Etkinlikler</option>
                    <option>Etkinlik Adı - 2</option>
                    <option>Etkinlik Adı - 3</option>
                  </select>
                </label>
              </div>
            </a>
          </div>
          <textarea placeholder="Düşüncelerini yaz…" name="" id="" cols="30" rows="10"></textarea>
          <ul class="create-modal">
            <li><div class="list-padding"><img src="img/icon/post-share.svg" alt=""> <span>Fotoğraf</span></div></li>
          </ul>
          <div class="friends-tag">
            <a>
              <h1>ARKADAŞLARINI ETİKETLE</h1>
            </a>
            <a>Kişi Seç</a>
          </div>
          <button class="share">PAYLAŞ</button> 
        </ion-content>
      </ion-modal-view>
    </script>
    <!-- END Post Share modal -->


    <!-- Location Share Modal -->
    <script id="location-share.html" type="text/ng-template">
      <ion-modal-view class="location-modal">
        <ion-content scrollbar-y="false" scroll="false">
          <div class="post notification-list">
            <a>
              <div class="post-user-img" style="background-image: url('img/demo/tumblr_o4ab76oDOr1uov59ao1_1280.jpg');background-size: cover;"></div>
              <h1>ETKİNLİK</h1>
            </a>
            <a class="post-select-location">
              <div class="list">
                <label class="item item-input item-select">
                  <select>
                    <option selected>Katıldığı Etkinlikler</option>
                    <option>Etkinlik Adı - 2</option>
                    <option>Etkinlik Adı - 3</option>
                  </select>
                </label>
              </div>
            </a>
          </div>
          <div class="friends-tag">
            <a>
              <h1>ARKADAŞLARINI ETİKETLE</h1>
            </a>
            <a>Kişi Seç</a>
          </div>
          <button class="share">PAYLAŞ</button>
        </ion-content>
      </ion-modal-view>
    </script>
    <!-- END Location Share Modal -->

  </body>
</html>
