/** General **/
a {text-decoration: none;}
button {border:none;}
body {
  font-family: 'Lato', sans-serif;
}
.hidden {
  display: none !important;
}
.wide-as-needed {
  overflow: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.scroll {
  min-width: 100% !important;
}
.nav-title-h1{
  font-size: 14px;
  font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
}
.bar.bar-stable {
  background-color: #ffffff;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.14);
}
input[type='date'], input[type='time'] {
    -webkit-appearance: none;
}
select {
  float: right;
  margin-right: -30px;
  margin-top: -12px;
  background-color:#FFF;
  padding:12px;
  font-size:16px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
	   -moz-transition:0.3s ease all;
	    -ms-transition:0.3s ease all;
	     -o-transition:0.3s ease all;
	        transition:0.3s ease all;
}
.input-zone {
  margin-top: 5px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  border-top: solid 1px #f5f5f5;
}
.input-zone label{
  font-size: 14px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
}
.input-zone input{
  margin-top: -5px;
  font-size: 14px;
  width: 100%;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
}
.input-zone textarea{
  width:100%;
  resize:none;
  padding-top: 10px;
  line-height: 22px;
}
.signup-fixed {
  position: fixed;
  bottom: 0;
}
.header-button {
  background: none;
  border: none;
  height: 22px;
  margin-top: 6px;
}

/** Tabs Icons **/
.tabs .tab-item .icon.home {
  background-repeat: no-repeat;
  background-position: 50%;
  margin-top: 12px;
  height: 24px;
  background-image: url('../img/icon/home.svg');
  background-size:contain;
}
.tabs .tab-item .icon.home-outline {
  background-repeat: no-repeat;
  background-position: 50%;
  margin-top: 12px;
  height: 24px;
  background-image: url('../img/icon/home-outline.svg');
  background-size:contain;
}

.tabs .tab-item .icon.feed {
  background-repeat: no-repeat;
  background-position: 50%;
  margin-top: 12px;
  height: 24px;
  background-image: url('../img/icon/feed.svg');
  background-size:contain;
}
.tabs .tab-item .icon.feed-outline {
  background-repeat: no-repeat;
  background-position: 50%;
  margin-top: 12px;
  height: 24px;
  background-image: url('../img/icon/feed-outline.svg');
  background-size:contain;
}

.tabs .tab-item .icon.create {
  background-repeat: no-repeat;
  background-position: 50%;
  margin-top: 8px;
  height: 32px;
  background-image: url('../img/icon/create.svg');
  background-size:contain;
}
.tabs .tab-item .icon.create-outline {
  background-repeat: no-repeat;
  opacity: 1 !important;
  background-position: 50%;
  margin-top: 8px;
  height: 32px;
  background-image: url('../img/icon/create.svg');
  background-size:contain;
}

.tabs .tab-item .icon.notification {
  background-repeat: no-repeat;
  background-position: 50%;
  margin-top: 12px;
  height: 24px;
  background-image: url('../img/icon/notification.svg');
  background-size:contain;
}
.tabs .tab-item .icon.notification-outline {
  background-repeat: no-repeat;
  background-position: 50%;
  margin-top: 12px;
  height: 24px;
  background-image: url('../img/icon/notification-outline.svg');
  background-size:contain;
}

.tabs .tab-item .icon.profile {
  background-repeat: no-repeat;
  background-position: 50%;
  margin-top: 12px;
  height: 24px;
  background-image: url('../img/icon/profile.svg');
  background-size:contain;
}
.tabs .tab-item .icon.profile-outline {
  background-repeat: no-repeat;
  background-position: 50%;
  margin-top: 12px;
  height: 24px;
  background-image: url('../img/icon/profile-outline.svg');
  background-size:contain;
}

/** General Image **/
.profile-img {
  width: 100px;
	height: 100px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  background-color: #d8d8d8;
  background: url(../img/demo/tumblr_nwbkbvh8Kg1uov59ao1_540.jpg)center center;
  background-size: cover;
  padding-top: 70px;
  margin-bottom: 45px;
}
.profile-img-btn {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  margin-left: 65px;
}
.profile-img-camera {
  background: #000;
  padding-top: 10px;
}
.profile-img-camera img{
  display: block;
  margin: 0 auto;
  height: 18px;
  width: auto;
}
.create-event-star {
  height: 36px;
  width: 36px;
  background: #FAA51B;
  padding-top: 9px;
}
.create-event-star img{
  display: block;
  margin: 0 auto;
  height: 19px;
  width: auto;
}
.submit-btn {
  border: none;
  position: absolute;
  bottom: 20px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background: #FAA51B;
  border-radius: 100px;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}
.step-load {
  border: none;
  position: absolute;
  bottom: 0px;
  width: 35%;
  background: #FAA51B;
  font-weight: 600;
  height: 3px;
} 

/***************************************/
/***************** Login ***************/
/***************************************/

/** Logo **/
.logo {
  width: 96px;
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 42px;
}
/** END Logo **/
/** Login Facebook **/
.loginFacebook {
  display: block;
  margin: 0 auto;
  width: 88%;
  background: #3a5998;
  border-radius: 30px;
  height: 46px;
}
.loginFacebook img{
  position: absolute;
  left: 35px;
  padding: 13px;
}
.loginFacebook p{
  color: #fff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.6px;
  margin-top: 11px;
}
/** END Login Facebook **/
/** Login Button **/
.login {
  display: block;
  margin: 0 auto;
  width: 88%;
  background: #c2c4cb;
  border-radius: 30px;
  height: 46px;
  color: #fff;
  font-size: 15px;
  margin-top: 30px;
}
/** END Login Button **/
/** Input Text Type **/
.inputText {
  width: 88%;
  display: block;
  margin: 0 auto;
  margin-bottom: 18px;
}
.inputText label{
  font-size: 15px;
	font-weight: 400;
	color: #c2c4cb;
}
.inputText input{
  width: 100%;
  font-size: 15px;
  border: none;
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: solid 1px #e8e8e8;
}
/** END Input Text Type **/
/** New Account **/
.newAccount{
  width: 100%;
  text-align: center;
  background: none;
  margin-top: 60px;
  font-size: 14px;
	font-weight: 400;
  color: #ADAFB7;
}
.newAccount span{
  color: #faa51a;
}
/** END New Account **/
/** Others **/
.passwordButton{
  width: 100%;
  text-align: center;
  background: none;
  margin-top: 30px;
  color: #faa51a;
  font-size: 14px;
	font-weight: 500;
}
.and {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  color: #b4b4b4;
}
/** Password Modal **/
.password-modal{
  top:auto !important;
  bottom: 0vh !important;
  min-height: 35%;
}
.modal-backdrop-bg {
	-webkit-backdrop-filter: blur(4px) brightness(97%);
	backdrop-filter: blur(4px) brightness(97%);
	background-color: rgba(0, 0, 0, 0.8);

  -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.3s; /* Firefox < 16 */
        -ms-animation: fadein 0.3s; /* Internet Explorer */
         -o-animation: fadein 0.3s; /* Opera < 12.1 */
            animation: fadein 0.3s;
}

.password-modal h2{
  font-size: 14px;
	font-weight: 600;
  padding-top: 24px;
  padding-left: 18px;
  padding-right: 18px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
}
.password-modal p{
  font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #acafb7;
  line-height: 20px;
  padding-left: 18px;
  padding-right: 40px;
}
.password-modal h3{
  padding-top: 15px;
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom: -2px;
  font-size: 13px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
}
.password-modal input{
  margin-left: 4.25%;
  margin-right: 4.25%;
  width: 91.5%;
  font-size: 15px;
  border: none;
  margin-top: 8px;
  padding-bottom: 8px;
}
.password-modal button{
  position: absolute;
  margin-top: 33px;
  width: 100%;
  height: 42px;
  background-color: #faa51b;
  color: #fff;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/***************************************/
/**************** Signup ***************/
/***************************************/
.backLogin{
  display: block;
  margin: 0 auto;
  width: 88%;
  text-align: center;
  background: none;
  font-size: 14px;
	font-weight: 500;
  color: #ADAFB7;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #f1f1f1;
}
.backLogin span{
  color: #faa51a;
}
.accountRead {
  font-size: 14px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
  margin-top: 20px;
	color: #acafb7;
}
.accountRead a{
  text-decoration: underline;
  color: #acafb7;
}
.signup-content {
	font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: 8px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #adadad;
  border-top: solid 1px #f5f5f5;
}
.signup-button {
  width: 100%;
  height: 42px;
	background-color: #fa9336;
  color: #fff;
  font-size: 16px;
  position: absolute;
  bottom: -14px;
}

/***************************************/
/************** Categories *************/
/***************************************/
.orange-bg {
  background: url(../img/orange-background.png)no-repeat center center;
  background-size: cover;
  margin-bottom: -40px;
}
.categories h2{
  opacity: 0.63;
	font-size: 20px;
	font-weight: 400;
  margin-left: 20px;
  margin-top: 20px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
}
.categories h1{
  font-size: 42px;
  margin-left: 20px;
  margin-top: -10px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
}
.categories h3{
  color: #fff;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 17px;
  font-weight: 400;
}
.categories-menu{
  width: 1700px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow-x: hidden;
}
.categories-menu li{
  float: left;
}
.art {
  background: url(../img/categories/art.jpg)no-repeat center;
  background-size: cover;
  height: 120px;
  width: 120px;
	border-radius: 5px;
  margin-left: 20px;
}
.fun {
  background: url(../img/categories/fun.jpg)no-repeat center;
  background-size: cover;
  height: 120px;
  width: 120px;
	border-radius: 5px;
  margin-left: 20px;
}
.mola {
  background: url(../img/categories/mola.jpg)no-repeat center;
  background-size: cover;
  height: 120px;
  width: 120px;
	border-radius: 5px;
  margin-left: 20px;
}

.conferance {
  background: url(../img/categories/conferance.jpg)no-repeat center;
  background-size: cover;
  height: 120px;
  width: 120px;
	border-radius: 5px;
  margin-left: 20px;
}
.concert {
  background: url(../img/categories/concert.jpg)no-repeat center;
  background-size: cover;
  height: 120px;
  width: 120px;
	border-radius: 5px;
  margin-left: 20px;
}
.meeting {
  background: url(../img/categories/meeting.jpg)no-repeat center;
  background-size: cover;
  height: 120px;
  width: 120px;
	border-radius: 5px;
  margin-left: 20px;
}
.travel {
  background: url(../img/categories/travel.jpg)no-repeat center;
  background-size: cover;
  height: 120px;
  width: 120px;
	border-radius: 5px;
  margin-left: 20px;
}
.nightclub {
  background: url(../img/categories/nightclub.jpg)no-repeat center;
  background-size: cover;
  height: 120px;
  width: 120px;
	border-radius: 5px;
  margin-left: 20px;
}
.sport {
  background: url(../img/categories/sport.jpg)no-repeat center;
  background-size: cover;
  height: 120px;
  width: 120px;
	border-radius: 5px;
  margin-left: 20px;
}
.competition{
  background: url(../img/categories/competition.jpg)no-repeat center;
  background-size: cover;
  height: 120px;
  width: 120px;
	border-radius: 5px;
  margin-left: 20px;
}
.cinema {
  background: url(../img/categories/cinema.jpg)no-repeat center;
  background-size: cover;
  height: 120px;
  width: 120px;
	border-radius: 5px;
  margin-left: 20px;
}
.other {
  background: url(../img/categories/other.jpg)no-repeat center;
  background-size: cover;
  height: 120px;
  width: 120px;
	border-radius: 5px;
  margin-left: 20px;
}
.user-photo {
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.popular-user {
  background: #fff;
  padding: 20px;

}
.popular-user ul{
  margin-top: 30px;
}
.popular-user h1{
  font-size: 22px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.4px;
	color: #faa51b;
}
.popular-user-list{
  padding-bottom: 12px;
  border-bottom: solid 1px #f4f4f4;
  margin-bottom: 10px;
  margin-top: -8px;
}
.popular-user-list h1{
  opacity: 0.74;
	font-size: 18px;
  padding-top: 5px;
  margin-left: 67px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
}
.popular-user-list p{
  opacity: 0.3;
  margin-left: 67px;
  margin-top: -9px;
	font-size: 11.5px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
}
.popular-user-list button{
  background: none;
  position: absolute;
  right: 20px;
  margin-top: -45px;
  margin-right: -10px;
}
.popular-user-list button>img{
  height: 30px;
}
.contiuned-button{
  position: absolute;
  bottom: 0;
  margin-left: -5px;
  height: 44px;
  width: 100%;
  background: #fa9336;
  color: #fff;
  font-weight: 500 !important;
  font-size: 15px !important;
}

/***************************************/
/***************** Home ****************/
/***************************************/
.home {
    margin-top: 27px;
    margin-left: 18px;
}
.home h1{
	  font-size: 16px;
	  font-weight: bold;
}
.event-view {
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 100%;
    width: auto !important;
    height:210px;
}
.event-view li{
    margin-right: 15px;
    display: inline-block !important;
}
.event-view h3{
  width: 150px !important;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 400;
  margin-top: 9px;
  white-space: normal;
}
.event-view p{
  font-size: 11px;
  margin-top: -8px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
  color: #a6a6a6;
}
.event-view p>b{
  color: #000;
}
.event-photo {
    border-radius: 5px;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
}
/** Home Categories **/
.categories-home {
    padding-top: 34px;
    padding-bottom: 10px;
    margin-top: 27px;
    background-image: linear-gradient(124deg, #faa51b, #FA821B);
}
.categories-home h1{
    color: #fff;
    margin-left: 18px;
	  font-size: 16px;
	  font-weight: bold;
    margin-bottom: 0px;
}
.categories-view {
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 100%;
    width: auto !important;
}
.categories-view li{
    margin-right: -5px !important;
    display: inline-block !important;
}
.categories-view h3{
  width: 100px !important;
	font-size: 11px;
	font-weight: 500;
  margin-top: 5px;
  padding-left: 20px;
  color: #fff;
  white-space: normal;
}
.categories-view p{
  font-size: 11px;
  margin-top: -8px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
  color: #a6a6a6;
}
.categories-view p>b{
  color: #000;
}
.categories-photo {
    border-radius: 5px;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}

/** Blog **/
.blog h1{
    font-size: 16px;
    font-weight: bold;
    margin-top: 38px;
    margin-left: 18px;
}
.blog-photo{
    background-repeat: no-repeat;
    height: 230px;
    width: 100%;
    -moz-box-shadow: inset 0 -150px 90px -80px rgba(0, 0, 0, 0.78);
    -webkit-box-shadow: inset 0 -150px 90px -80px rgba(0, 0, 0, 0.78);
    box-shadow: inset 0 -150px 90px -80px rgba(0, 0, 0, 0.78);
}
.blog-post {
    overflow: auto;
}
.blog-post h1{
    font-size: 18px;
    font-weight: 600;
    width: 75%;
    color: #fff;
    padding-top: 165px;
    padding-left: 18px;
    margin-left: 0px !important;
    line-height: 24px;
}
.blog-post li{
    margin-top: -30px;
}
.blog-button {
    margin-left: 18px;
    margin-top: 10px;
    height: 25px;
}
.like {
    text-decoration: none !important;
    margin-top: 50px !important;
}
.like span{
    font-size: 14px;
    color: #000;
}
.like-btn{
     float: left;
     margin-right: 10px;
}
.like-heart-on {
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    background-image: url("../img/icon/heart.svg");
    background-size:contain;
    margin-top: 1px;
}
.like-heart {
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    background-image: url("../img/icon/heart-on.svg");
    background-size:contain;
    margin-top: 1px;
}
.comment {
    margin-top: -40px;
}
.comment-btn {
    background-repeat: no-repeat;
    height: 18px;
    width: 80px;
    background-image: url("../img/icon/comment.svg");
    background-size:contain;
    float: left;
    margin-left: 80px;
    margin-top: -20px;
}
.comment-btn span{
    margin-left: 29px;
    color: #000;
    padding-top: 3px;
    font-size: 14px;
}
.comment-btn {
    background-repeat: no-repeat;
    height: 18px;
    width: 80px;
    background-image: url("../img/icon/comment.svg");
    background-size:contain;
    float: left;
    margin-left: 80px;
    margin-top: -20px;
}
.share-btn {
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    margin-right: 18px;
    background-image: url("../img/icon/share.svg");
    background-size:contain;
    float: right;
    margin-top: -20px;
}


/***************************************/
/***************** Feed ****************/
/***************************************/
.follow {
    margin-top: 16px;
    margin-bottom: 10px;
}
.follow h1{
    margin-left: 18px;
    font-size: 13px;
  	font-weight: 500;
    float: left;
}
.next-btn {
    margin-right: 18px;
    float: right;
}
.next-btn img{
    height: 12px;
}
.follow-img {
    margin-top: -18px !important;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 12px;
    background-color: #fdfdfd;
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
    margin-top: 2px;
    min-width: 100%;
    width: auto !important;
}
.follow-img li{
    width: 79px;
    display: inline-block !important;
}
.follow-img li>a>span{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    color: #1a1a1a;
}
.follow-user-img{
    display: block;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    border: solid 2px #ffffff;
    border-radius: 100px;
    height: 50px;
    width: 50px;
}

.post {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px #f5f5f5;
}
.post h1{
    margin-left: 18px;
    position: absolute;
    padding-top: 3px;
    margin-top: -37px;
    margin-left: 70px;
    font-size: 14px;
  	font-weight: 500;
}
.post a{
    font-size: 10.5px;
  	font-weight: 500;
}
.post img{
    margin-top: 10px;
    width: 100%;
}
.post p{
    margin-left: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.post-select-location {
    color: #000;
    float: left;
    width: 50%;
    margin-top: -30px;
}
.post-location {
    color: #000;
    opacity: 0.5;
    float: left;
    width: 50%;
    margin-top: -20px;
    margin-left: 70px;
}
.post-user-img {
    margin-left: 18px;
    border-radius: 60px;
    margin-right: 10px;
    width: 38px;
    height: 38px;
}
.post-button {
    margin-left: 18px;
    height: 25px;
}
.no-post {
    opacity: 0.23;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  	font-size: 12px;
}
label.item.item-input.item-select {
    border: 0;
}

/***************************************/
/***************** Plus ****************/
/***************************************/
.plus-modal{
  top:auto !important;
  bottom: 0px;
  min-height: 32%;
}
.create-modal li>img{
  margin-left: 23px;
}
.create-modal li{
  border-bottom: solid 1px #ebebeb;
  margin-top: 17px;
  padding-bottom: 17px;
}
.create-modal li>span{
  font-size: 13px;
  position: absolute;
  margin-left: 20px;
  margin-top: 0px;
}
.list-padding img{
  margin-left: 23px;
  margin-top: 2px;
}
.list-padding span{
  font-size: 13px;
  position: absolute;
  margin-left: 20px;
  margin-top: 1px;
  color: #000;
}

/** Post Modal **/
.post-modal{
  top:auto !important;
  bottom: 0px;
  min-height: 55%;
}
.post-modal textarea{
  width: 100%;
  padding:18px;
  resize: none;
  border-bottom: solid 1px #F5F5F5;
}

/** Location Modal **/
.location-modal{
  top:auto !important;
  bottom: 0px;
  min-height: 20%;
}


/***************************************/
/**************** Profile **************/
/***************************************/
.profile{}
.profile h1{
    font-size: 15px;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 16px;
}
.profile p{
    width: 260px;
    display: block;
    margin: 0 auto;
    font-size: 12px;
    opacity: 0.4;
    text-align: center;
    line-height: 17px;
    margin-top: 5px;
}
.profile-social {
    display: block;
    margin: 0 auto;
}
.profile-social h3{
    text-align: center;
    color: #faa51b;
    font-size: 12px;
    margin-top: 10px;
    padding-bottom: 15px;
}
.social-media {
    margin-top: 13px;
    text-align: center;
}
.social-media li{
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}
.social-media li>img{
    height: 26px;
    width: 26px;
}
.icon-other {
    margin-top: 0px;
}
.profile-photo {
    height: 87px;
    width: 87px;
    border-radius: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
.add-friend {
    background: none;
    display: block;
    margin: 0 auto;
    margin-top: -30px;
}
.add-user {
    margin-left: 60px;
}
.add-user-icon {
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-image: url("../img/icon/blue-plus.svg");
    transition: 0.2s;
    margin-top: 1px;
}
.add-user-icon-on {
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-image: url("../img/icon/add-user-icon-on.svg");
    transition: 0.2s;
    margin-top: 1px;
}
.add-friends-icon {
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-image: url("../img/icon/check-friends.svg");
    transition: 0.2s;
    margin-top: 1px;
}
.add-friends-icon-on {
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-image: url("../img/icon/check-friends-on.svg");
    transition: 0.2s;
    margin-top: 1px;
}
.my-profile-edit {
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-image: url("../img/icon/profile-edit.svg");
    transition: 0.2s;
    margin-top: 1px;
}

.follower {
    opacity: 0.4;
}
.post-line {
    border-top: solid 1px #f5f5f5;
}

/***************************************/
/************* Notification ************/
/***************************************/
.notification-list {
    padding-bottom: 15px;
    margin-top: -5px;
}
.notification-list span{
    float: right;
    opacity: 0.23;
    font-size: 11px;
    margin-top: -35px;
    margin-right: 10px;
}
.noti-star {
    opacity: 1;
    color: #faa51b;
}
.popover-backdrop {
    transition: 0.3s;
}

/***************************************/
/************** Post Share *************/
/***************************************/
.friends-tag {
    margin-left: 18px;
}
.friends-tag h1{
    font-size: 15px;
    margin-top: 23px;
    margin-bottom: 0px;
}
.friends-tag a{
    color: #faa51b;
}
.share {
    float: right;
    margin-top: -37px;
    margin-right: 15px;
    background: #FAA51B;
    color: #fff;
    font-size: 13px;
    padding: 9px 25px;
    border-radius: 30px;
}
